{% extends "base.html" %}
{% block content %}
    Git
    <small>
        <div class="row">
            <div class="col-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna
                    aliqua. Elit ut aliquam purus sit. Convallis a cras semper auctor neque vitae tempus quam
                    pellentesque.
                    Suspendisse
                    interdum consectetur libero id faucibus.
                </p>
            </div>
            <div class="col">
                Column
            </div>
            <div class="row">
                <div class="col-8">
                    <p>
                        Vestibulum morbi blandit cursus risus at ultrices mi tempus. Enim ut sem viverra aliquet eget
                        sit
                        amet
                        tellus cras.
                        Tortor id aliquet lectus proin. Ac auctor augue mauris augue neque. In dictum non consectetur a
                        erat.
                        Ornare lectus
                        sit amet est placerat in egestas. Non sodales neque sodales ut etiam. Nec dui nunc mattis enim
                        ut
                        tellus.
                    </p>
                </div>
                <div class="col">
                    <p>
                        Est velit egestas dui id. Faucibus turpis in eu mi bibendum neque egestas congue. Amet facilisis
                        magna
                        etiam tempor
                        orci eu.
                    </p>
                </div>
            </div>
            <div class="row">
                <p>
                    Tellus molestie nunc
                    non
                    blandit
                    massa enim nec dui. A diam maecenas sed enim ut. Netus et malesuada fames ac. Eget est lorem ipsum
                    dolor
                    sit.
                </p>
            </div>
            <div class="row">
                <p>
                    Sit amet nulla facilisi morbi tempus. Turpis massa sed elementum tempus egestas. Pretium lectus quam
                    id
                    leo in vitae
                    turpis massa sed. Sit amet consectetur adipiscing elit. Amet facilisis magna etiam tempor orci eu
                    lobortis
                    elementum.
                </p>
            </div>
            <div class="row">
                <p>
                    Vitae aliquet nec ullamcorper sit amet. Pretium lectus quam id leo in vitae turpis massa. Leo in
                    vitae
                    turpis massa.
                    Turpis cursus in hac habitasse platea. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                    Nec
                    dui nunc
                    mattis enim ut tellus. Odio tempor orci dapibus ultrices in iaculis. Purus viverra accumsan in nisl
                    nisi
                    scelerisque
                    eu ultrices vitae.
                </p>
            </div>
        </div>
    </small>
{% endblock %}