{% extends "base.html" %}
{% block content %}
    <small>
        <div class="row border border-primary mb-3">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="/git"><img src="{{ url_for('static', filename='images/git.png') }}" class="d-block w-100"
                             alt="git"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/docker"><img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100"
                             alt="docker"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/flask"><img src="{{ url_for('static', filename='images/flask.jpg') }}" class="d-block w-100"
                             alt="flask"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/cicd"><img src="{{ url_for('static', filename='images/cicd.png') }}" class="d-block w-100"
                             alt="ci/cd"></a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to make up the bulk of the
                            card's content.</p>
                        <a class="btn btn-primary" href="#" role="button">Learn more!</a>
                    </div>
                </div>
            </div>
        </div>
    </small>
{% endblock %}